/* Button */

.go-top {
	position: fixed;
	bottom: 2em;
	right: .5em;
	text-decoration: none;
 border-top: 1px solid #000000;
   background: #4c7fb5;
   background: -webkit-gradient(linear, left top, left bottom, from(#2758d6), to(#4c7fb5));
   background: -webkit-linear-gradient(top, #2758d6, #4c7fb5);
   background: -moz-linear-gradient(top, #2758d6, #4c7fb5);
   background: -ms-linear-gradient(top, #2758d6, #4c7fb5);
   background: -o-linear-gradient(top, #2758d6, #4c7fb5);
   padding: 8px 16px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
	font-size: 14px;
	padding: 1em;
	display: none;
}

.go-top:hover {
   border-top-color: #36e633;
   background: #36e633;
   color: #030303;
   text-decoration: none;

}

.go-top:active {
	text-decoration: none;
	color:white;
}

.go-top:visited { 
	text-decoration: none;
	color: white; 

} 

.go-top:link {
	text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: black;
}

